body {
    font-family: 'Open Sans', sans-serif;
    color: #333;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}


.division-buttons {
    margin: 5% 0 2% 0;
    text-align: center;
    height: 10%;
}

#division-button {
    width: 100%;
    font-size: 250%;
    font-weight: 600;
    padding: 0;
    border: 2px solid black;
}

.teams {
    margin: auto;
    text-align: left;
    height: 60%;
    width: 100%;
    overflow-x: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
    max-width: 100%;
    border: 1px solid #ccc;
}

th, td {
    text-align: center;
    padding: 1.5rem;
    font-size: 1rem;
    font-weight: 500;
    border-bottom: 1px solid #ccc;
    white-space: nowrap;
}

th {
    font-weight: bold;
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #e6e6e6;
}

.position {
    text-align: left;
}

.team {
    text-align: left;
}

.green-rank {
    background-color: #24A30A;
    color: white;
}

.red-rank {
    background-color: #ea190a;
    color: white;
}

td:first-child {
    width: 50px;
    text-align: center;
    position: relative;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-top: 0.5rem solid black;
    margin: 0 auto;
}

.rank {
    width: 10%;
}

.position {
    font-weight: bold;
    text-align: center;
}

.team-name {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.team-name:hover {
    text-decoration: underline;
}

@media (min-width: 768px) {
    #division-button {
        width: 60%;
    }

    table {
        width: 60%;
    }
}